.TTFirsNeueDemiBold {
	font-family: TTFirsNeueDemiBold;
}
}.TTFirsNeueRegular {
	font-family: TTFirsNeueRegular;
}

html, body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #5b616b;
    background-color: #fff;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #6A6A6A;
    line-height: 170%;
    line-height: 170%; /* 40.8px */
    letter-spacing: -0.7px;
}

h1, h2, h3, h4, h5, strong{
    font-family: "TTFirsNeueDemiBold";
}

h1 {
    color: #1B030A; 
    line-height: 120%; /* 70.4px */
    letter-spacing: -.05rem;
}

h1 a {
    font-family: "TTFirsNeueDemiBold";
}

h2, h3, h4, h5 {
    color: #1B030A;
}

a {
    color: #616161;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

a:hover {
     -webkit-text-fill-color: transparent;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.work {
    background-color: #FCFCFC;
   border: 1px solid #EBEBEB;
   margin-top: 90px;
   overflow: hidden;
}

.pill-button {
    display: inline-block;
    background: #F7F7F7;
    border: 1px solid #B3B3B3;
    border-radius: 8px;
    transition: transform .2s;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
}

.pill-button:hover {
    background: E6E6E6;
    border: 1px solid #8C8C8C;
}


/* When the browser is at least 320px and above */
@media screen and (min-width: 320px) { 

.intro {
    font-size: 1.4rem;
}

.heading {
    color: #20AC21;
}

.sub-heading {
    color: #20AC21;
}

.work-desc{
    padding: 5rem 6.5rem 5rem 6.5rem;
}

.case-img {
    
}

.nav-link {
    color: #828282;
    font-family: "TTFirsNeueDemiBold";
}

.nav-link:hover {
     -webkit-text-fill-color: transparent;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;

}

.nav-pills .nav-link {
    font-size: 1.2rem;
}

h1, h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.4rem ;
    line-height: 170%;
}

p {
    font-size: 1.2rem;
}

.pill-button {
    font-size: .9rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.pill-button:hover {
    color: #000;
}

.px-5 {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 1rem;
}

.job-desc h2 {
    font-family: "TTFirsNeueDemiBold";
    font-size: 1.75rem;
    line-height: 100%;
}

.job-desc p {
    font-size: 1.2rem;
    line-height: 160%;
}

.work-desc p {
    font-size: 1.3rem;
}

.seperator {
    height: 40px;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 600px) {

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 140%;
}

.work-desc p {
    font-size: 1.1rem;
}

.nav-pills .nav-link {
    font-size: 1rem;
}

.px-5 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 0rem;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 1200px) {

h1{
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 3rem;
    line-height: 110%;
}

.work-desc p {
    font-size: 1.3rem;
}

.job-desc h3 {
    font-size: 1.3rem;
    line-height: 110%;
    color: #323a45; 
}

.px-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.bg-white {
    background-color: #fff;
}

.section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

}
