.TTFirsNeueDemiBold {
    font-family: TTFirsNeueDemiBold;
}
.TTFirsNeueRegular {
    font-family: TTFirsNeueRegular;
}
.TTFirsNeueBold {
    font-family: TTFirsNeueBold;
}
.TTFirsNeueLight {
    font-family: TTFirsNeueLight;
}
.TTFirsNeueItalic {
    font-family: TTFirsNeueItalic;
}
.TTFirsNeueDemiBoldItalic {
    font-family: TTFirsNeueDemiBoldItalic;
}
.TTFirsNeueBoldItalic {
    font-family: TTFirsNeueBoldItalic;
}
.TTFirsNeueLightItalic {
    font-family: TTFirsNeueLightItalic;
}

html, body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #5b616b;
    background-color: #fff;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #64748B;
    letter-spacing: -0.3px;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    font-family: 'TTFirsNeueDemiBold';
    font-weight: normal;
    color: #1B030A; 
    line-height: 120%; /* 70.4px */
}

h3, h4, h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: rgb(15 23 42);
}

strong {
    font-weight: 500;
}

a {
    color: rgb(79 70 229);
    text-decoration: underline;
}

a:hover {
    color: #025A2E;
}

.nav-link {
    color: rgb(15 23 42);
    font-family: 'Inter', sans-serif;
}

.section-title {
    color: #707070; 
}

.intro {
    line-height: 170%;
    /* or 34px */
    letter-spacing: -0.04em;
    font-weight: 400;
}

.work {
    background-color: #F8FAFC;
    border: 1px solid #E6EDF4;
    overflow: hidden;
}

.pill-button {
    display: inline-block;
    background-color: #fff0;
    border: 1px solid #e5e7eb;
    border-radius: .375rem;
    padding: .5rem .75rem;
    align-items: center;
    justify-content: center;
}


.pill-button:hover {
    background: #1AC66F;
    color: #fff;
}

.subtitle {
    color: #707070;
    font-family: TTFirsNeueRegular;
}


/* When the browser is at least 320px and above */
@media screen and (min-width: 320px) { 

.intro {
    font-size: 1.4rem;
}

.heading {
    color: #20AC21;
}

.sub-heading {
    color: #20AC21;
}

.case-img {
    
}

.nav-link:hover {
     -webkit-text-fill-color: transparent;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;

}

.nav-pills .nav-link {
    font-size: 1rem;
}

h1, h2 {
    font-size: 2.2rem;
    line-height: 124%;
}

h3 {
    font-size: 1.5rem;
    line-height: 120%;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 140%;
}

p {
    font-size: 1.15rem;
    line-height: 162%; /* 40.8px */
}

.metrics p {
    font-size: .9rem;
    color: rgb(79 70 229);
    font-weight: 600;
}

.metrics h3 {
    font-size: 1.8rem;
}

.pill-button {
    font-size: .8rem;
    font-weight: 600;
    color: rgb(15 23 42);
}

h1 span {
    background-color: #DBFEED;
}

.highlight {
    display: inline-flex;
    height: 48px;
}

.work-desc{
    padding: 2rem;
}

.px-5 {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 1rem;
}

.experience-intro p {
    font-weight: 500;
}

.quote {
    font-size: 1rem;

    font-weight: 400;
    color: #1B030A;
}

.attribution {
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
}

.job-desc h2 {
    font-family: "TTFirsNeueDemiBold";
    font-size: 1.75rem;
    line-height: 100%;
}


.seperator {
    height: 40px;
}

.svg-button {
    margin-left: 12px;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 600px) {

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 140%;
}

.subtitle {
    font-size: 1.8rem;
    line-height: 140%;
}

.highlight {
    display: inline-block;
    height: 72px;
}

.work-desc{
    padding: 3rem;
}

.nav-pills .nav-link {
    font-size: .9rem;
    font-weight: 500;
}

.px-5 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 0rem;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 1200px) {

h1{
    font-size: 4rem;
    line-height: 116%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 130%;
}

.highlight {
    display: inline-block;
    height: 72px;
}

.work-desc{
    padding: 3.5rem;
}

.px-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.bg-white {
    background-color: #fff;
}

.section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

}
