.TTFirsNeueDemiBold {
	font-family: TTFirsNeueDemiBold;
}
}.TTFirsNeueRegular {
	font-family: TTFirsNeueRegular;
}

html, body {
    font-size: 16px;
    font-family: "TTFirsNeueRegular", Helvetica, Arial, Sans-Serif;
    color: #5b616b;
    background-color: #f1f1f1;
}

p, a {
    font-family: "TTFirsNeueRegular";
}

h1, h2, h3, h4, h5, strong{
    font-family: "TTFirsNeueDemiBold";
}

h1 {
    color: #212121; 
}

h2, h3, h4, h5 {
    color: #323a45;
}

p {
    color: #5b616b;
}

a {
    color: #105BD8;
    text-decoration: none;
}

a:hover {
    color: #0b3d91;
}

/* When the browser is at least 320px and above */
@media screen and (min-width: 320px) { 

.work-desc{
    margin: auto;
}

.case-img img {
    background-color: #F5F5F7;
}

.nav-link {
    color: #494440 ;
}

.navlink:hover {
    color: #105BD8 !important;
}

.nav-pills .nav-link {
    font-size: 1.2rem;
}

h1, h2 {
    font-size: 2.2rem;
    line-height: 150%;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 1.4rem ;
    line-height: 170%;
}

p {
    line-height: 170%;
    font-size: 1.4rem;
}

.px-5 {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 1rem;
}

.job-desc h2 {
    font-family: "TTFirsNeueDemiBold";
    font-size: 1.75rem;
    line-height: 150%;
}

.job-desc p {
    font-size: 1.5rem;
    line-height: 170%;
}

.work-desc p {
    font-size: 1.3rem;
}

.seperator {
    height: 40px;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 600px) {

h1, h2 {
    font-size: 3.5rem;
    line-height: 140%;
}

h3 {
    font-size: 1.5rem;
    line-height: 140%;
}

.work-desc p {
    font-size: 1.1rem;
}

.nav-pills .nav-link {
    font-size: 1rem;
}

.px-5 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.margin-nudge-bottom {
    margin-bottom: 0rem;
}

}

/* When the browser is at least 320px and above */
@media screen and (min-width: 1200px) {

h1, h2 {
    font-size: 4.2rem;
    line-height: 140%;
}

h3 {
    font-size: 1.75rem;
    line-height: 140%;
}

.work-desc p {
    font-size: 1.2rem;
}

.job-desc h3 {
    font-size: 1.5rem;
    line-height: 150%;
    color: #323a45; 
}

.px-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.bg-white {
    background-color: #fff;
}

.section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

}
